@{
    ViewBag.Title = "About";
}
<!-- inner banner -->
<div class="inner_banner layer" id="home">
    <div class="container">
        <div class="agileinfo-inner">
            <h3 class="text-center text-white">
                Về Chúng Tôi
            </h3>
            <p class="text-center text-white">
                Founded by IT Engineers who worked and trained in global leading IT company, automotive company, manufacturing company, VIETIS offer customers reliable Offshore Development Services.
            </p>
        </div>
    </div>
</div>
<!-- //inner banner -->
<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Trang Chủ</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Về Chúng Tôi</li>
    </ol>
</nav>
<!-- //breadcrumbs -->
<!-- overview -->
<section class="about-w3ls py-lg-5 py-md-3">
    <div class="container">
        <div class="jumbotron text-center">
            <div class="a_w3icon rounded-circle mx-auto">
                <span class="fab fa-linode text-center"></span>
            </div>
            <h5 class="ab-title my-md-5 my-3">Board Management</h5>
            <h6 class="lead">
                Chairman and President
            </h6>
            <h4>Dang Dieu Linh </h4>
            <p>Graduate Hanoi National University, Faculty of Physics Despite of graduating physic course, Linh had great passion of computer science, and started his career as Programmer. Linh experienced more than 10 years with Project Management of large-scaled System (Japanese customers, American Customers, European Customers), and had more than 3 years with IT Recruitment, Training business before establishing VIETIS. In order to provide reliable offshore software services at low cost but high quality, Linh improves VIETIS continuously to bring more success to customer's projects.</p>
            <hr class="my-4">
            <h6 class="lead">
                Vice - President & VIETIS Solution CEO
            </h6>
            <h4>Nguyen Ngoc Tan </h4>
            <p>After graduated Faculty of Information System, Osaka University, Japan in 2012. Tan started to work at Japanese Maker as System Consultant. After that Tan joined VIETIS and in charged of sales activities, establishing and developing Japanese market and expanding cloud business as well as other global market.</p>
            <hr class="my-4">
            <h6 class="lead">
                Chief Delivery Officer
            </h6>
            <h4>Nguyen Truong Giang </h4>
            <p>Graduated Faculty of Information System, National Economic University. Giang started his career as project manager of many national projects, as well as took responsible of Offshore Development project manager for Japan's financial, insurance Company. Joined VIETIS as founder, Giang is in charge of managing core activities and the overall development projects of VIETIS.</p>
           
        </div>
    </div>
</section>
<!-- //overview -->